.search-tool
  = simple_form_for :search, url: users_path, method: :get do |f|
    %input.button{ name: "commit", type: "submit", value: "Search" }
    %input.string.search.required#search_search{ name: "search", placeholder: "Search by name...", type: "search", value: params[:search] }
